<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<typeAliases>
	<typeAlias type="dto.MemberDTO" alias="memberDto"/>
	<typeAlias type="dto.SingleDTO" alias="singleDto"/>
	<typeAlias type="dto.InningsDTO" alias="inningsDto"/>
	<typeAlias type="dto.ExpDTO" alias="expDto"/>
	<typeAlias type="dto.RankingDTO" alias="rankingDto"/>
	<typeAlias type="dto.MyItemsDTO" alias="myitemsDto"/>
</typeAliases>
</configuration>