@charset "UTF-8";

#modal-container {
	position: absolute;
	z-index: 9000;
	left: auto;
	top: auto;
	width: 1416px;
	height: 825px;
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.25);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(1.5px);
	-webkit-backdrop-filter: blur(1.5px);
	transform: scale(0);
}

#modal-container.one {
  transform: scaleY(0.01) scaleX(0);
  animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.one .modal-background .modal {
  transform: scale(0);
  animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.one.out {
  transform: scale(1);
  animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.one.out .modal-background .modal {
  animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#modal-container .modal-background {
  display: flex;
  text-align: center;
  vertical-align: middle;
}
#modal-container .modal-background .modal {
  background: white;
  width: 870px;
  height: 500px;
  padding: 50px;
  display: inline-block;
  border-radius: 3px;
  font-weight: 300;
  position: relative;
}
#modal-container .modal-background .modal h2 {
  font-size: 30px;
  line-height: 25px;
  margin-bottom: 30px;
}
#modal-container .modal-background .modal p {
  font-size: 18px;
  line-height: 22px;
}

.modallayout {
	display: flex;
	flex-direction: column;
}

.motitle {
	height: 50px;
	margin-bottom: 17px;
}

.moex {
	display: flex;
	background: black;
	height: 190px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.moex span {
	font-size: 40px;
	color: white;
}

.modalconfirm {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 135px;
}

.modalyes {
	flex: 1 1 0;
}

.modalno {
	flex: 1 1 0;
}

.modalbtn {
	font-size: 40px;
}

.yesc:hover {
	text-decoration: underline;
	color: green;
}

.noc:hover {
	text-decoration: underline;
	color: red;
}

@keyframes unfoldIn {
  0% {
    transform: scaleY(0.005) scaleX(0);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(1) scaleX(1);
  }
}
@keyframes unfoldOut {
  0% {
    transform: scaleY(1) scaleX(1);
  }
  50% {
    transform: scaleY(0.005) scaleX(1);
  }
  100% {
    transform: scaleY(0.005) scaleX(0);
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}