@charset "UTF-8";
@font-face {
    font-family: 'NeoDGM';
    src: url('/fonts/neodgm.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {height: 100%}

body {
	width: 120rem;
	height: 100%;
	margin: 0 auto;
	font-family: 'NeoDGM';
	display:flex;
	align-items:center;
	justify-content:center;
}

.wrapper {
	width: 88.5rem;
	height:51.563rem;
    background: radial-gradient(ellipse at bottom, #1b2735 0%,#090a0f 100%);
}

.logo {
	color:white;
	font-size: 4rem;
	text-align: center;
	padding-top: 14rem;
	padding-bottom: 3rem;
}

.logo > a {
	text-decoration: none; /*밑줄 없애기*/
	color: inherit; /*색변화x*/
}

.logo > a:hover {
	color: yellow;
}

.formindiv {
	margin : 1.25rem auto 1.563rem auto;
	width : 25rem;
}

.formindiv>p {
	font-size : 1.031rem;
	line-height : 0.75rem;
	margin:0.5rem 0 0.5rem 0.125rem; /*위 우 아래 좌*/
	color: white;
}

input[type="text"],
input[type="password"] {
	border: 0.375rem groove lightgrey;
	border-radius: 0.688rem;
	height: 3.125rem;
	padding: 0.313rem 0.625rem;
	width: 25rem;
	margin-bottom: 0.563rem;
	background-color: rgba(255, 255, 255, 0);
	color: white;
	font-size: 1.25rem;
}

input[type="text"]:focus,
input[type="password"]:focus {
	border: 0.375rem groove yellow;
	border-color: yellow;
	border-radius: 0.688rem;
	outline: 0;
}

.error {
	padding-left: 0.313rem;
	color: red;
	font-size:0.938rem;
}

h5 {
	padding-left: 0.313rem;
	color: red;
	font-size:0.938rem;
}


/* 스타일을 아이디 저장 체크박스에 적용 */
.checkbox {
  display:flex;
	align-items:center;
	justify-content:center;
}

.id-pw-td {
  margin-left: 0.75rem; /* 체크박스와 라벨 사이의 간격 조정 */
}

.id-save {
 display:flex;
	align-items:center;
	justify-content:center;
}

/* 체크박스 커스텀 스타일링 */
#member_check_save_id0 {
  display: none; /* 기본 체크박스 숨기기 */
}

#member_check_save_id0 + label {
	font-size: 0.938rem;
  display: inline-block;
  /* vertical-align: middle; */
  cursor: pointer;
  padding-left: 1.563rem; /* 체크박스 크기에 따라 조절 */
  background-repeat: no-repeat;
  background-size: 1.125rem; /* 아이콘 크기에 맞게 조절 */
  background-position: left center;
  position: relative; /* 부모 위치에 따라 자식 아이콘을 배치 */
}

#member_check_save_id0:checked + label {
  background-image: url('/img/lock-2.svg'); /* 체크 시 아이콘 변경 */
}

#member_check_save_id0 + label::before {
  content: "";
  display: inline-block;
  width: 1.25rem; /* 체크박스 크기에 맞게 조절 */
  height: 1.25rem; /* 체크박스 크기에 맞게 조절 */
  background-image: url('/img/key.svg'); /* 기본 아이콘 이미지 */
  background-repeat: no-repeat;
  background-size: 1.125rem;
  position: absolute; /* 상대 위치에 따라 배치 */
  top: 0;
  left: 0;
}

/* 체크박스가 체크됐을 때의 아이콘 스타일링 */
#member_check_save_id0:checked + label::before {
  display: none; /* 체크 시 기본 아이콘 숨기기 */
}


#login_submit_btn {
	font-family: 'NeoDGM';
	font-size: 1.125rem;
	text-decoration: none; /*밑줄 없애기*/
	color: yellow;
	border:  0.375rem groove yellow;
	border-radius: 0.688rem;
    background-color: rgba( 0, 0, 0, 0.3);
	padding: 0.625rem 2.5rem;
	width:25rem;
	height:3.125rem;
	margin-top:0.938rem;
	margin-bottom:2.5rem;
}

#login_submit_btn:hover {
	border: 0.375rem groove #39FF14;
	color:#39FF14;
}